@{
    ViewData["Title"] = "SmartFit";
}

<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <h1  style="font-size: 65px;">¡Somos Innovatech!</h1>
            <p style="font-weight: bold;">Innovatech Solutions S.A.C. es una empresa de desarrollo de software con sede en Lima, Perú, con un equipo de 15 expertos dedicados a brindar soluciones tecnológicas innovadoras.</p>
        </div>
        <div class="col-md-6">
            <img src="~/img/logo2.0.jpg" class="img-fluid" style="object-fit:cover" alt="LogoEmpresa" width="400" height="400">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Equipo</h5>
                    <ul>
                        <li>Más de 15 talentosos y capacitados profesionales</li>
                        <li>Ingenieros, desarrolladores, diseñadores y personal administrativo</li>
                        <li>Ambiente de trabajo colaborativo</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Metodologías</h5>
                    <ul>
                        <li>Metodologías ágiles</li>
                        <li>Enfoque centrado en el cliente</li>
                        <li>Uso de herramientas de última generación</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Sede</h5>
                    <ul>
                        <li>Oficina moderna en Av. Javier Padro, piso 20</li>
                        <li>200 metros cuadrados de espacio</li>
                        <li>Edificio moderno con tecnología actualizada</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
